<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>username</key>
	<string></string>
	
	<key>radioStation</key>
	<integer>0</integer>
	
	<key>stationUser</key>
	<string></string>
	
	<key>webServiceServer</key>
	<string>wsdev.audioscrobbler.com</string>
	
	<key>userAgent</key>
	<string>Mozilla/4.5 (compatible; Amua/0.4; Mac_PowerPC)</string>
	
	<key>version</key>
	<string>0.4</string>
	
	<key>alwaysDisplayTooltip</key>
	<integer>0</integer>
	
	<key>tooltipPosition</key>
	<string>{0,0}</string>

</dict>
</plist>
